.introBack {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #2a2a2a;
  overflow-x: hidden;
  z-index: 0;

  img {
    height: 100vh;
    width: 100%;
    overflow-y: visible;
  }

  .base {
    width: 110%;
    height: 17rem;
    border-radius: 50%;
    // background-color: green;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: -5%;
    background: linear-gradient(357.66deg, #000000 71.02%, #ffffff 187.07%);
    box-shadow: 0px -4px 67px rgba(0, 0, 0, 0.25);
  }
}

.intro {
  z-index: 1;
  height: calc(100vh - 7rem);
  overflow: hidden;
  position: relative;
}
