@media (max-width: 900px) {
  .main {
    padding: 2rem !important;
  }

  .input {
    gap: 1rem !important;

    input,
    label,
    textarea {
      padding: 1rem !important;
    }
  }
}

.main {
  padding: 3rem 7rem;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #004369;
  }

  form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input {
    display: flex;
    gap: 2rem;
    background-color: rgb(0, 67, 105, 0.46);
    border-radius: 15px;

    input,
    label,
    textarea {
      background-color: #323637;
      border-radius: 15px;
      color: white;
      border: none;
      outline: none;
      font-size: min(1.5rem, 3vw);
      padding: 1rem 2rem;
    }

    input,
    textarea {
      flex: 1;
    }

    label {
      cursor: pointer;
    }
  }

  .msg {
    flex-direction: column;
    gap: 1rem;

    label {
      text-align: center;
    }
  }
}
