@import "../styles/variables.scss";

.introBack {
  position: absolute;
  width: 100%;
  height: 250vh;
  left: 0px;
  top: 0px;
  z-index: 0;

  background: linear-gradient(
                  179.79deg,
                  rgba(0, 0, 0, 0.67) 0.18%,
                  rgba(0, 0, 0, 0) 103.84%
  );

  div {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(9px);
    background-color: rgba(0, 0, 0, 0.01);
  }
}

.intro {
  height: 80vh;
  padding-top: 7rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  z-index: 1;

  div::after {
    content: "";
    display: block;
    height: 1rem;
    width: 100%;
  }
}

.introText {
  z-index: 1;
}

.subText,
.subIcon {
  font-size: min(5vw, 2rem);
  font-weight: 700;
  letter-spacing: 4%;
  text-align: center;
  color: #969696;
  z-index: 1;
}

.subIcon {
  animation: up-down 1s ease-in-out infinite;
}

.about {
  height: fit-content;
  padding: 10rem 3rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1rem;

  .aboutText {
    width: 40%;
    min-width: 300px;
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin: 1rem 0rem;
    }

    p {
      text-align: justify;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }

    .aboutBtn {
      margin-top: 2rem;
    }
  }
}

.aboutImg {
  img {
    filter: drop-shadow(-3px -3px 10px rgba(0, 0, 0, 0.25));
    width: 60%;
    display: block;
    margin: auto;
    min-width: 100px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.projects {
  margin-top: 3rem;
  padding: 5rem 3rem;

  .projectsHead {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;

    h1 {
      color: white;
      font-size: 3rem;
    }

    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 49;
      display: none;
    }
  }

  .projectsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
    margin-bottom: 3rem;
  }

  .project {
    width: 40%;
    min-width: 250px;
    max-width: 480px;
    position: relative;
    background-color: #232323;
    border-radius: $border-radius;

    .projectContent {
      position: relative;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      transition: 0.25s ease-in-out;
    }

    img {
      border-radius: $border-radius;
      object-fit: cover;
    }

    .projectHover {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: $border-radius;
      text-align: center;
      color: white;
      background-color: rgba(0, 0, 0, 0);
      transition: 0.25s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.25s ease-in-out;
      opacity: 0;

      h1 {
        margin-bottom: 1.5rem;
      }
    }
  }

  .project:hover {
    .projectContent {
      top: 15px;
      left: 15px;
    }

    .projectHover {
      background-color: rgba(0, 0, 0, 0.712);
      opacity: 1;
    }
  }
}

.youtube {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 0;
  padding: 5rem 3rem;

  h1 {
    font-size: 3rem;
  }

  .youtubeTriangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 49;
  }

  .youtubeContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    z-index: 50;

    img {
      width: 25%;
      margin-bottom: 2rem;
      min-width: 200px;
    }

    p {
      width: 30%;
      min-width: 300px;
      text-align: justify;
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 400;
    }
  }
}

.tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 0;
  padding: 5rem 3rem;

  h1 {
    font-size: 3rem;
  }

  .tutorialContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    z-index: 50;

    img {
      width: 25%;
      min-width: 200px;
      margin-bottom: 2rem;
    }

    p {
      width: 30%;
      min-width: 300px;
      text-align: justify;
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 500;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 2rem;

  .socialsDiv {
    flex: 0.7;
    min-width: 240px;

    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 2rem;
      text-align: center;
    }

    .socials {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      img {
        width: 90%;
        height: 3rem;
      }
    }
  }
}

.main {
  border-radius: 0 0 30px 30px;
  background-image: url("/bg.svg");
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: 0px -116px;
  padding-bottom: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.footer {
  $size: 2vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 3rem 3rem;
  position: relative;

  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-weight: 500;
      font-size: 1.5rem;
    }

    a {
      font-size: 1.4rem;
      color: #A6233F;
      font-weight: 500;
    }

  }
}

.bg {
  background: #D9D9D9;
}