@import "../styles/variables.scss";

@media (max-width: 700px) {
  .nav {
    background: #00000000;
    padding: 1rem 0 !important;

    .navList {
      cursor: default;
      pointer-events: none;
      position: absolute;
      opacity: 0;
      //height: calc(100vh - 2rem);
      width: 100%;
      background: rgba($green, $transparency);
      backdrop-filter: blur(31px);
      border-radius: 20px;
      display: flex !important;
      padding-bottom: 100px;
      top: 0;
      left: 0;
      bottom: 0;
    }

    .logo {
      text-align: center;
      width: 100%;
    }
  }

  .navBtn {
    display: flex !important;
  }

  .navCont {
    height: calc(100vh - 2rem);
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 1rem;
  }
}

.nav {
  $current-cont: $green;
  padding: 0.8rem 3rem;
  margin: 1rem auto;
  position: fixed;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: inherit !important;
  top: 0;
  transition: 0.2s;
}

.logo {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
}

.navList {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.3rem;
  }
}

.navItem {
  color: rgb(207, 207, 207);
  transition: 0.2s;
}

.navItem:hover {
  font-family: 500;
  color: white;
}

.active {
  font-weight: 500;
  color: white;
}

.btn {
  font-size: 0;
  padding: 0.5rem;

  img {
    width: 2rem;
  }
}

.navBtn {
  display: none;
  //background: green;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  border-radius: 20px;
  backdrop-filter: blur(31px);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;

  .navIcon {
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 100px;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: inherit;
      height: inherit;
      position: absolute;
      background: #fff;
      border-radius: 100px;
      bottom: -12px;
      transition: 0.2s;
    }

    &::after {
      top: -12px;
    }
  }
}

.navShown {
  background: #00000000;
  backdrop-filter: blur(0px);
  transform: translateX(-50%);

  .navIcon {
    background: rgba(255, 255, 255, 0);

    &::before {
      transform: rotate(45deg) translate(0%, -275%);
    }

    &::after {
      transform: rotate(-45deg) translate(0%, 275%);
    }
  }
}

.navCont {
  width: inherit;
}

.btnBg {
  position: initial;
}

.navListShown {
  width: 100%;
  //height: calc(100vh - 1rem);
  //background: rgba($green, $transparency);
  bottom: 1rem;
  margin-bottom: 0;
  padding-bottom: 0 !important;

  .logo {
    position: absolute;
    top: 1rem;
    left: 0;
  }

  .navList {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    align-items: flex-end;
    opacity: 1;
    pointer-events: all;

    ul {
      flex-flow: column-reverse;
    }
  }

  .btnBg {
    position: absolute;
    bottom: 15px;
    left: 20px;
  }
}
