$border-radius: 20px;

$green: #01949a;
$d-green: #00575a;

$red: #db1f48;
$d-red: #820e27;

$blue: #004369;
$d-blue: #012438;

$yellow: #e5ddcb;
$d-yellow: #827d6f;

$black: #000;
$d-black: rgb(26, 26, 26);

$white: #fff;
$d-white: rgb(187, 187, 187);

$transparency: 60%;

$scroll-bg: #2b2b2b;
$scroll-thumb-bg: #4b4b4b;
$scroll-thumb-hover-bg: #727272;
